<a href="https://colab.research.google.com/github/luiztoledosilva/python/blob/main/iteravel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' 1 - Crie uma função iterável “meses” que retorne meses. Use um laço for para mostrar os
valores.'''

def meses():
    meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
    return meses

for mes in meses():
    print(mes)

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro
Outubro
Novembro
Dezembro

In [ ]:
'''2 - Cria uma função iterável que receba uma lista de números e que
retorne a cada iteração um item dessa lista multiplicado por dois.'''

def lista_multiplicacao(lista):
    for numero in lista:
        yield numero * 2

lista = [1, 2, 3, 4, 5]
for numero in lista_multiplicacao(lista):
    print(numero)

2
4
6
8
10

In [ ]:
''' 3 - Crie uma classe iterável chamada “Tabuada” que calcule a tabuada da
multiplicação do número recebido no construtor. A cada iteração ela
deve retornar um resultado da tabuada. Para testar use um laço for.'''

'''
def tabuada(numero):
    for i in range(1, 11):
        yield numero * i

for resultado in tabuada(5):
    print(resultado)

'''
'''
class tabuada:
  def init(self, numero):
    self.numero = numero
    self.i = 1

  def __iter__(self):
    return self

  def __next__(self):
    if self.i <= 10:
      resultado = self.numero * self.i
      self.i += 1
      return resultado
    else:
      raise StopAsyncIteration

for resultado in tabuada(5):
  print(resultado)

'''

class Tabuada:
    def __init__(self, numero):
        self.numero = numero
        self.i = 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.i <= 10:
            resultado = self.numero * self.i
            self.i += 1
            return resultado
        else:
            raise StopIteration

# Usando a classe Tabuada
for resultado in Tabuada(5):
    print(resultado)

5
10
15
20
25
30
35
40
45
50

In [ ]:
''' 6 - Crie uma função que receba uma lista de frases e junte as mesmas em
uma só, separados por ponto final.'''

def lista_frases(lista):
    frase_unida = ' '.join(lista)
    return frase_unida

##lista = ['Olá', 'tudo', 'bem', 'com', 'você', '?']
lista=['Luiz', 'Francisco', 'Marques', 'De', 'Toledo', 'Silva']
frase_unida = lista_frases(lista)
print(frase_unida.upper())

LUIZ FRANCISCO MARQUES DE TOLEDO SILVA

In [ ]:
'''5 - Utilizando como base o exercício 1, retorne o número que representa
o mês e o próprio mês. Faça isso de duas maneiras diferentes (usando
enumeradores e a outra usando join).
        '''


def meses():
    meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
    return meses

#enumerate
for i, mes in enumerate(meses(), start=1):
    print(f"{i} - {mes}")

#join
meses_str = ', '.join([f"{i} - {mes}" for i, mes in enumerate(meses(), start=1)])
print(meses_str)

1 - Janeiro
2 - Fevereiro
3 - Março
4 - Abril
5 - Maio
6 - Junho
7 - Julho
8 - Agosto
9 - Setembro
10 - Outubro
11 - Novembro
12 - Dezembro
1 - Janeiro, 2 - Fevereiro, 3 - Março, 4 - Abril, 5 - Maio, 6 - Junho, 7 - Julho, 8 - Agosto, 9 - Setembro, 10 - Outubro, 11 - Novembro, 12 - Dezembro

In [ ]:
''' 4 (Desafio) - Crie uma classe que retorne os fatoriais de um número no
intervalo de X a Y, recebidos por parâmetro no construtor da classe.'''

' 4 (Desafio) - Crie uma classe que retorne os fatoriais de um número no\nintervalo de X a Y, recebidos por parâmetro no construtor da classe.'

In [ ]:
lista = [1,2,3]
iterador = iter(lista) # criamos um iterador
next(iterador)
next(iterador)
print(next(iterador))

3

In [ ]:
texto = 'Texto'
print('-'.join(texto))

T-e-x-t-o