<a href="https://colab.research.google.com/github/luiztoledosilva/python/blob/main/listas_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#criar uma lista com o seguinte numeros 1,10,6,7.8,9, 10.Em seguinda printe e some os numeros

lista=[1,10,6,7.8,9,10]
print(lista)
print(sum(lista))

[1, 10, 6, 7.8, 9, 10]
43.8

In [2]:
#crie uma lista e preencha ela com valores de 1 a 100, printe os valores

lista=[]
for i in range(1,100+1):
  lista.append(i)
print(lista, end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
#crie duas listas com e faça a junção dessas listas, mas numeros repetidos não podem estar nessas listas
lista=[30,4,43,52,-10]
lista2=[43,2,4,76,32,65,3]
lista3=set(lista+lista2)
print(lista3)

{32, 65, 2, 3, 4, 43, 76, 52, -10, 30}

In [6]:
#criar uma lista com todos os meses do ano, receber o mes do ano em que você nasceu por input e mostre o nome do mes em que nasceu

meses_do_ano=["janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro"]
mes_nascimento=int(input("Digite o numero do mes que você nasceu: "))
print(meses_do_ano[mes_nascimento-1])

Digite o numero do mes que você nasceu: 3
março

In [8]:
#crie uma lista com todos os meses do ano, seguida por input digitar o seu mes de nascimento e remova deassa lista o mes de seu nascimento
#mostre a lista no final sem o mes de seu nascimento

meses_do_ano=["janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro"]
mes_nascimento=int(input("Digite o numero do mes que você nasceu: "))
##nova_lista_meses_do_ano=meses_do_ano.pop(mes_nascimento-1)
meses_do_ano.pop(mes_nascimento-1)
print(meses_do_ano)

Digite o numero do mes que você nasceu: 3
['janeiro', 'fevereiro', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

In [9]:
##Usando list compreensions crie uma lista com todos os numeros negativos -30 até -20

lista=[x for x in range(-30,-20+1)]
print(lista)
#

[-30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20]

In [14]:
#usando list compreensions percorra os numeros de 4 a 100 e mantenha apenas os numeros diviseis por 4

lista=[x for x in range(4,101) if x%4==0]
print(lista)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [13]:
##com list compreensions crie uma lista contendo todos os numeros de 0 a 100, mas filtre apenas os numeros terminados em 0

lista=[x for x in range(0,101) if x%10==0]
print(lista)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [20]:
#usando o list compreensions percorra os numeros de 0 a 20 e crie um array onde o numero que terminar com 0 o valor é 0, ao co

lista= ["0" if numero % 10 == 0 else "-" for numero in range(0,21)]
print(lista)

['0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0']

In [25]:
##usando dicionarios
#escolha tres objetos, criar uma lista para armazenar o objeto e sua função
#por input receba o nome desse objeto e imprima sua função
#caso nao exista informe ao usuario

objetos={'caneta':'escrever', 'borracha':'apagar', 'regua':'medir'}
objeto=input("Digite o nome do objeto: ")
if objeto in objetos:
  print(objetos[objeto])
else:
  print("Objeto não encontrado")

Digite o nome do objeto: caneta
escrever

In [30]:
##usando dicionarios para pegar o nome da pessoa por input, mais o seu ano de nascimento


nome=input("Digite seu nome ou zero para terminar: ")
ano_nascimento=int(input("Digite seu ano de nascimento: "))
dados_pessoais={"nome":nome, "ano_nascimento":ano_nascimento}
print(dados_pessoais)

Digite seu nome: Luiz
Digite seu ano de nascimento: 1985
{'nome': 'Luiz', 'ano_nascimento': 1985}

In [41]:
##usando dicionarios para pegar o nome da pessoa por input, mais o seu ano de nascimento
##usando o while até usuario digitar zero no nome


dados_pessoais={}

while True:
  nome=input("Digite o seu nome ou s para sair: ")

  if nome.lower() == 's':
    break

  ano_nascimento=int(input("Digite seu ano de nascimento: "))
  dados_pessoais[nome] = ano_nascimento
  print(dados_pessoais)
print(dados_pessoais)

Digite o seu nome ou s para sair: Luiz
Digite seu ano de nascimento: 1998
{'Luiz ': 1998}
Digite o seu nome ou s para sair: Martins
Digite seu ano de nascimento: 1997
{'Luiz ': 1998, 'Martins': 1997}
Digite o seu nome ou s para sair: Joaquim
Digite seu ano de nascimento: 1977
{'Luiz ': 1998, 'Martins': 1997, 'Joaquim': 1977}
Digite o seu nome ou s para sair: Diego
Digite seu ano de nascimento: 1998
{'Luiz ': 1998, 'Martins': 1997, 'Joaquim': 1977, 'Diego': 1998}
Digite o seu nome ou s para sair: s
{'Luiz ': 1998, 'Martins': 1997, 'Joaquim': 1977, 'Diego': 1998}