<a href="https://colab.research.google.com/github/luiztoledosilva/python/blob/main/strings_python_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Luiz Francisco Marques de Toledo Silva")

Luiz Francisco Marques de Toledo Silva

In [ ]:
nome_completo="Luiz Francisco Marques de Toledo Silva"
idade=39
altura=1.76

print("Meu nome completo é {}, minha idade é {} anos e minha altura é  {} metros " .format(nome_completo, idade, altura))

Meu nome completo é Luiz Francisco Marques de Toledo Silva, minha idade é 39 anos e minha altura é  1.76 metros

In [ ]:
print("Luiz", "Antonio", "Sergio", end="")

Luiz Antonio Sergio

In [ ]:
print(1,2,3, sep="-")

1-2-3

In [ ]:
numero=1.76666689
print("Numero é %.2f" %numero)
print("Numero é {:.2f} " .format(numero))

Numero é 1.77
Numero é 1.77

In [ ]:
numero=6.56
print("A parte inteira é %d " %numero)

A parte inteira é 6

In [ ]:
dia=7
mes=3
ano=1985

print("Minha da de nascimento é  %d/%d/%d " %(dia,mes,ano))

Minha da de nascimento é  7/3/1985

In [ ]:
minutos=17

print("Agora são  %d horas e %d minutos " %(hora,minutos))

Agora são  18 horas e 17 minutos

In [ ]:
pi=3.14159265358979323846

print("O pi com cinco casas decimais é igual a {:.5f} " .format(pi))

O pi com cinco casas decimais é igual a 3.14159

In [ ]:
ano_nascimento=1985
ano_atual=2024
idade=ano_atual-ano_nascimento

print("Sua idade de acordo com a conta é %d " %idade)

Sua idade de acordo com a conta é 39

In [ ]:
print("IMC")

altura=float(input("Digite a sua altura "))

peso=float(input("Digite o seu peso "))

imc=peso/altura**2

print("Seu imc é igual a %.2f " %imc)

IMC
Digite a sua altura 1.76
Digite o seu peso 112
Seu imc é igual a 36.16

In [ ]:
##usando o replace no python com o exercicio acima

In [ ]:
altura = input("Digite a sua altura: ")
altura = altura.replace(",", ".")  # Substitui vírgulas por pontos, se necessário
altura = eval(altura)  # Converte a string para um número

peso = input("Digite o seu peso: ")
peso = peso.replace(",", ".")  # Substitui vírgulas por pontos, se necessário
peso = eval(peso)  # Converte a string para um número

print(f"Sua altura é {altura} metros e seu peso é {peso} kg.")

imc = peso / altura**2

print(f"Seu IMC é {imc:.2f}.")

Digite a sua altura: 1,78
Digite o seu peso: 111
Sua altura é 1.78 metros e seu peso é 111 kg.
Seu IMC é 35.03.

In [ ]:
ovos_de_pascoa=99
pessoas=12
ovos_por_pessoa=ovos_de_pascoa//pessoas
sobras=ovos_de_pascoa%pessoas

print("Cada pessoa receberá %d ovos e sobrará %d ovos " %(ovos_por_pessoa,sobras))

Cada pessoa receberá 8 ovos e sobrará 3 ovos

In [ ]:

resultado=True or False
print(resultado)

True

In [ ]:
falta_comida=True
eh_sabado=True

tem_que_ir_ao_mercado=falta_comida or eh_sabado

print(tem_que_ir_ao_mercado)

True

In [ ]:
sinal_vermelho=True
carro_direita=False
carro_esquerda=False

pode_atravessar=sinal_vermelho and not (carro_direita and carro_esquerda)

print("Pode atravessar? ")
print(pode_atravessar)

Pode atravessar?
True

In [ ]:
terminou = False
p = i = 0
while (not terminou):
    n = int(input("Digite um número, ou zero para terminar: "))
    if n == 0:
        terminou = True
    else:
        if n % 2 == 0:
            p = p + 1
        else:
            i = i + 1

print ("P = ", p)
print ("I = ", i)

Digite um número, ou zero para terminar: 1
Digite um número, ou zero para terminar: 2
Digite um número, ou zero para terminar: 3
Digite um número, ou zero para terminar: 5
Digite um número, ou zero para terminar: 77
Digite um número, ou zero para terminar: 0
P =  1
I =  4

In [ ]:
n=2
i = 1
while i < n:
      "iteração"
      i = i + 1
      print(n)

2

In [ ]:
saldo_banco="2500"
saldo_banco2=int(saldo_banco)
saldo_banco3=saldo_banco2-1000
print(saldo_banco3)

1500

In [ ]:
altura=1.76
type(altura)
altura2=int(altura)
print(altura2)

1

In [ ]:
###maior ou igual a sete

nota=input("Digite uma nota ")
nota=float(nota)
aprovado=nota>=7
print(aprovado)

Digite uma nota 8
True

In [ ]:
###senha
senha_correta="12345"
senha=input("digite a senha: ")
print(senha==senha_correta)

digite a senha: 12345
True

In [ ]:
nome_completo="Luiz Francisco Marques De Toledo Silva"
print(nome_completo.upper())
nome=nome_completo[0:14]
sobrenome=nome_completo[15:]
print(nome)
print(sobrenome)

LUIZ FRANCISCO MARQUES DE TOLEDO SILVA
Luiz Francisco
Marques De Toledo Silva

In [ ]:
palavra=input("Digite uma palavra: ")
print(palavra)

remover_ultima_letra=palavra[:-1]
print(remover_ultima_letra)
print("Tem vogal na palavra?")
if "aeiou" or "AEIOU" in palavra==True:
    print("Sim")
else:
  print("Nao")

Digite uma palavra: kiko
kiko
kik
Tem vogal na palavra?
Sim

In [ ]:
palavra=input("Digite uma palavra:  ")
palavra.insert(0, "ABC")
print(palavra)

Digite uma palavra:  kiko

AttributeError: 'str' object has no attribute 'insert'